@import "./vars.css";

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: var(--root-font-size);
    line-height: var(--root-line-height);
    font-weight: var(--root-font-weight);

    color: var(--root-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin-top: 2px;
}

h1 {
    font-size: 1.3rem;
    margin-bottom: 0.4rem;
}

input,
button {
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 0.4em 0.8em;
    height: fit-content;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--root-color);
    background-color: var(--dark);
    transition: border-color 0.25s, background-color 0.25s, color 0.25s;
}

button {
    cursor: pointer;
    background-color: var(--accent-color);
}

button:hover {
    color: var(--text-max);
    background-color: var(--accent-color-bright);
}

button:enabled:active {
    position: relative;
    top: 1px;
    border-color: var(--accent-color-dim);
}

button:disabled {
    background-color: dimgrey;
    border-color: dimgrey;
    color: var(--text-mid);
    cursor: not-allowed;
}

/* No current support for the light color scheme */
@media (prefers-color-scheme: light) {
}
