:root {
    --root-font-size: 16px;
    --root-line-height: 24px;
    --root-font-weight: 400;
    --root-color: #f6f6f6;

    --app-padding: 5px;

    /* Text colors */
    --text-normal: var(--root-color);
    --text-mid: #c3c3c3;
    --text-dim: #a0a0a0;
    --text-max: #fcfcfc;
    --text-min: #030303;

    /* General colors */
    --accent-color: #0862b2;
    --accent-color-bright: #1972c2;
    --accent-color-dim: #0352a2;
    --dark: #0f0f0f98;
    --background-mid: #41444a;
    --background-dim: #3e3e3e;
    --alert-color: #e92333;

    /* Artisan colors */
    --space-cadet: #2e294eff;
    --cerulean: #227c9dff;
    --moss-green: #9a9b73ff;
    --taupe-gray: #a49694;
    --rose-quartz: #afaab9;
    --robin-egg-blue: #59c3c3;
    --sea-green: #4c956c;
    --flax: #e0d68a;
    --goldenrod: #d5a021;
    --tomato: #ff6542ff;
    --burnt-umber: #823329ff;
}
